!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Socket.io Seed App
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    script(type="text/javascript", src="/js/lib/jquery-2.0.3.min.js")
    script(type="text/javascript", src="/js/lib/bootstrap.min.js")  
  body
    block body
