div(class="row")
  div(class="col-md-10 col-md-offset-1")

div(class="row")
  div(class="col-md-10 col-md-offset-1")
    div(class="row")
      div(ng-repeat="t in SpotifyLookup.results.tracks", class="col-md-6 search-result")
        h4(class="track") {{ t.name }}
        p(class="artist") Artist: 
          a(ng-href="/artist/{{ t.artists[0].href }}") {{ t.artists[0].name }}
        p(class="album") Album: {{ SpotifyLookup.results.name }}
        p(class="year") Year: {{ SpotifyLookup.results.released }}
        div(class="buttons btn-toolbar")
          a(ng-click="Jukebox.play(t.href)", class="btn btn-small btn-success") add to queue
