div(class="row")
  div(class="col-md-10 col-md-offset-1")
    form
      div(class="form-group")
        h3 Search
        input(ng-model="searchInput", class="form-control", type="text", placeholder="song, album, or artist name...")

div(class="row")
  fl-loading(data="SpotifySearch.status", template="search/loading.html")
  fl-error(data="SpotifySearch.status", template="search/error.html")    

div(ng-if="!SpotifySearch.status.loading && !SpotifySearch.status.error", class="row")
  div(class="col-md-10 col-md-offset-1")
    div(class="row")
      div(ng-repeat="r in SpotifySearch.results", class="col-md-6 search-result")
        h4(class="track truncate") {{ r.name }}
        p(class="artist truncate") Artist: 
          a(ng-href="/artist/{{ r.artists[0].href }}") {{ r.artists[0].name }}
        p(class="album truncate") Album: 
          a(ng-href="/album/{{ r.album.href }}") {{ r.album.name }}
        p(class="year") Year: {{ r.album.released }}
        div(class="buttons btn-toolbar")
          a(ng-click="Jukebox.play(r.href)", class="btn btn-small btn-success") add to queue
