div(class="row")
  div(class="col-md-10 col-md-offset-1")
    form
      div(class="form-group")
        h3 Search
        input(ng-model="searchInput", class="form-control", type="text", placeholder="song, album, or artist name...")

div(class="row")
  div(class="col-md-10 col-md-offset-1")
    div(class="row")
      div(ng-repeat="r in SpotifySearch.results", class="col-md-6 search-result")
        h4(class="track") {{ r.name }}
        p(class="artist") Artist: 
          a(ng-href="/artist/{{ r.artists[0].href }}") {{ r.artists[0].name }}
        p(class="album") Album: 
          a(ng-href="/album/{{ r.album.href }}") {{ r.album.name }}
        p(class="year") Year: 
          a(ng-href="/year/{{ r.album.released }}") {{ r.album.released }}
        div(class="buttons btn-toolbar")
          a(ng-click="Jukebox.play(r.href)", class="btn btn-small btn-success")
            span(class="glyphicon glyphicon-plus") 
            |  add to queue
