/* app css stylesheet */

.image-wrapper {
    overflow: hidden;
    max-height: 225px;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-result {
  margin-bottom: 20px;
}

#artist-profile {
    margin-bottom: 15px;
}
